@import "../../App.scss";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.services {
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(27, 25, 26, 0.3)), url(../../../public/backgrownd-services3.jpg);
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile {
            flex-direction: column;
        }
        @include tablet{
            display: grid;
        }

        hr {
            width: 100px;
            border: none;
            border-top: 0.5px solid black;

            @include mobile {
                width: 100%;
            }
        }

        p {
            font-weight: 200;
            font-size: 20px;
            color: black;
            text-align: right;
            font-family: "Montagu Slab", serif;

            @include mobile {
                align-self: center;
                text-align: right;
                flex-direction: column;
                font-size: 16px;
                margin-right: 5px;
                margin-top: 5%;

            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;
            height: 100%;
        }
        @include tablet{
            flex-direction: column;
        }


        .title {
            display: flex;
            align-items: center;
            gap: 50px;
            color: rgba(0, 0, 0, 0.726);

            @include mobile {
                width: 100%;
                height: 30%;
                flex-direction: column;
                text-align: center;
                gap: 10px;

            

                // h1 {
                //     b {
                //         font-family: "Grey Qo", cursive;
                //         &:hover {
                //             color: orange;
                //             transition: all ease 0.5s;
                //         }
                //     }
                // }
            }


            h1 {
                font-size: 70px;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.726);

                @include mobile {
                    font-size: 36px;
                    margin: 0;
                }
            }

            button {
                width: 400px;
                height: 110px;
                border-radius: 50px;
                border: none;
                font-size: 110px;
                color: #B68508;
                font-family: "Grey Qo", cursive;
                box-shadow: 37px 32px 71px 0px rgba(0, 0, 0, 0.65);
                -webkit-box-shadow: 37px 32px 71px 0px rgba(0, 0, 0, 0.65);
                -moz-box-shadow: 37px 32px 71px 0px rgba(0, 0, 0, 0.65);

                &:hover{
                    transition: all ease-in 0.5s;
                    background-color: orange;
                    color: black;
                }

                @include mobile {
                    font-size: 30px;
                    width: 80%;
                    height: 50%;

                    &:hover {
                        background-color: orange;
                    }
                }
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 95%;
        margin: auto;

        @include mobile {
            display: flex;
            flex-direction: column;
            column-count: 2;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: -25%;
        }


        .box {
            transition: all 0.5s ease-in-out;
            height: 180px;
            padding: 15px;
            border: 1px solid #B68508;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            margin: 0 5px 0 5px;
            -webkit-box-shadow: 0px 31px 31px 11px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 31px 31px 11px rgba(0, 0, 0, 0.39);
            background-color: #d3d3d300;

            @include mobile {
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding: 10px;
                height: 24%;
                margin: 5px;
            }
        }

        .box#globalFit:hover {
            transform: scale(1.2);
            -webkit-box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            background-image: url("../../../public/globalFit.gif");
            background-size: cover;
            border: none;

            @include mobile {
                transform: scale(1.5);
                width: 70%;
                height: 20%;

                button {
                    background-color: transparent;
                    color: transparent;
                }
            }

        }

        .box#psicoEduardo:hover {
            transform: scale(1.2);
            -webkit-box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            background-image: url("../../../public/mental-health.jpg");
            background-size: cover;
            border: none;

            @include mobile {
                transform: scale(1.5);
                width: 70%;
                height: 20%;

                button {
                    background-color: transparent;
                    color: transparent;
                }
            }

        }

        .box#leslie:hover {
            transform: scale(1.2);
            -webkit-box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            background-image: url("../../../public/leslie.PNG");
            background-size: cover;
            border: none;

            @include mobile {
                transform: scale(1.5);
                width: 70%;
                height: 20%;

                button {
                    background-color: transparent;
                    color: transparent;
                }
            }

        }

        .box:not(#globalFit):hover {
            transform: scale(1.2);
        }

        .box p {
            font-size: 16px;
            color: #1b191a;
            transition: color 0.5s ease-in-out;
            text-align: justify;

            @include mobile {
                display: none;
            }
 
        }

        .box h2 {
            color: #1b191a;
            transition: color 0.5s ease-in-out;
            font-size: 20px;
        }

        .box:hover p,
        .box:hover h2 {
            color: transparent;
        }

        .box button {
            overflow:  hidden;
            position: relative;
            z-index: 1;
            padding: 10px;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.836);
            border-radius: 5px;
            color: #e0e0e0;
            border: 1px solid black;

            // &:hover{
            //     background-color: orange;
            //     transition: all ease-in-out 0.5s;
            //     border: none;
            //     font-weight: bolder;
            // }

            @include mobile {
                padding: 5px;
                border: 0;

            }
        }
        .box button::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: orange;
            transform-origin: center;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
        }

        .box button:hover {
            cursor: pointer;
            color: #161616;
            border: none;
            font-weight: bolder;
        }

        .box button:hover::before {
            transform: translate3d(-50%, -50%, 0) scale3d(20, 20, 20);
        }
    }
}