@import "../../App.scss";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.services {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(27, 25, 26, 0.3)), url(../../../public/backgrownd-services3.jpg);
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;

    .textContainer {
        // flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile {
            flex: none;
        }

        @include tablet {
            flex: none;
            flex-direction: column;
        }

        hr {
            width: 100px;
            border: none;
            border-top: 0.5px solid black;

            @include mobile {
                width: 50%;
                gap: 0;
                margin: 0;
            }
            @include tablet{
                width: 100%;
            }
        }

        p {
            font-weight: 200;
            font-size: 20px;
            color: black;
            text-align: right;
            font-family: "Montagu Slab", serif;

            @include mobile {
                max-width: 80%;
                margin: auto;
                font-size: 0.9rem !important;
                margin-top: 5px;
                font-size: 200px;
            }

            @include tablet{
                font-size: 1.3rem;
                text-align: center;
            }
        }
    }

    .titleContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        @include mobile {
            flex: 1;
            padding: 5px 0 0 0 !important;
        }

        @include tablet {
            text-align: left;
            flex: none;
            padding: 0 6%;
        }


        .title {
            display: flex;
            align-items: center;
            gap: 50px;
            color: rgba(0, 0, 0, 0.726);

            @include tablet{
                flex: none;
                gap: 0px;
            }

            @include mobile {
                width: 100%;
                flex-direction: column;
                text-align: center;
                gap: 10px;

                h1 {
                    b {
                        &:hover {
                            color: orange;
                            transition: all ease 0.5s;
                        }
                    }
                }
            }


            h1 {
                font-size: 70px;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.726);

                @include tablet{
                    font-size: 3rem;
                    text-align: left;
                }

                @include mobile {
                    font-size: 1.9rem;
                    margin: 5% 0 0 0;
                }
            }

            button {
                width: 400px;
                height: 110px;
                border-radius: 50px;
                border: none;
                font-size: 110px;
                color: #B68508;
                font-family: "Grey Qo", cursive;
                box-shadow: 37px 32px 71px 0px rgba(0, 0, 0, 0.65);
                -webkit-box-shadow: 37px 32px 71px 0px rgba(0, 0, 0, 0.65);
                -moz-box-shadow: 37px 32px 71px 0px rgba(0, 0, 0, 0.65);

                &:hover {
                    transition: all ease-in 0.5s;
                    background-color: orange;
                    color: black;
                }

                @include tablet{
                    min-width: 50%;
                    height: 50%;
                    font-size: 3rem;
                }

                @include mobile {
                    font-size: 2rem;
                    width: 50%;
                    height: 50%;

                    &:hover {
                        background-color: orange;
                    }
                }
            }
        }
    }

    .listContainer {
        flex: 1;
        display: flex;
        max-width: 95%;
        margin: auto;

        @include tablet{
            max-height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5%;
        }

        @include mobile {
            flex: 1;
            flex-direction: column;
            width: 100%;
            margin-top: 5%;
        }


        .box {
            transition: all 0.5s ease-in-out;
            height: 180px;
            padding: 15px;
            border: 1px solid #B68508;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            margin: 0 5px 0 5px;
            -webkit-box-shadow: 0px 31px 31px 11px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 31px 31px 11px rgba(0, 0, 0, 0.39);
            background-color: #d3d3d300;

            @include tablet{
                padding: 2%;
                height: 50%;
            }

            @include mobile {
                height: 30%;
                margin: 5px;

                button{
                    display: none;
                }

                &.box#globalFit {
                    background-image: url("../../../public/globalFit.gif");
                    background-size: cover;
                    background-position: center;
                }

                &.box#psicoEduardo {
                    background-image: url("../../../public/mental-health.jpg");
                    background-size: cover;
                    background-position: center;
                }

                &.box#leslie {
                    background-image: url("../../../public/leslie.PNG");
                    background-size: cover;
                    background-position: center;
                }

            }
        }

        .box#globalFit:hover {
            transform: scale(1.2);
            -webkit-box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            background-image: url("../../../public/globalFit.gif");
            background-size: cover;
            border: none;

            @include mobile {
                transform: scale(1.9);
                height: 100%;

                button {
                    display: none;
                }
            }

        }

        .box#psicoEduardo:hover {
            transform: scale(1.2);
            -webkit-box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            background-image: url("../../../public/mental-health.jpg");
            background-size: cover;
            border: none;

            @include mobile {
                transform: scale(1.9);
                height: 100%;

                button {
                    display: none;
                }
            }

        }

        .box#leslie:hover {
            transform: scale(1.2);
            -webkit-box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 20px 36px 18px rgba(0, 0, 0, 0.9);
            background-image: url("../../../public/leslie.PNG");
            background-size: cover;
            border: none;

            @include mobile {
                transform: scale(1.9);
                height: 100%;

                button {
                    display: none;
                }
            }

        }

        .box:not(#globalFit):hover {
            transform: scale(1.2);
        }

        .box p {
            font-size: 16px;
            color: #1b191a;
            transition: color 0.5s ease-in-out;
            text-align: justify;

            @include tablet{
                font-size: 1.25rem;
            }

            @include mobile {
                display: none;
            }

        }

        .box h2 {
            color: #1b191a;
            transition: color 0.5s ease-in-out;
            
            @include tablet{
                font-size: 1.9rem;
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }

        .box:hover p,
        .box:hover h2 {
            color: transparent;
        }

        .box button {
            overflow: hidden;
            position: relative;
            z-index: 1;
            padding: 10px;
            margin-top: 10%;
            // width: 200px;
            background-color: rgba(0, 0, 0, 0.836);
            border-radius: 5px;
            color: #e0e0e0;
            border: 1px solid black;

            @include mobile {
                padding: 5px;
                border: 0;

            }
        }

        .box button::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: orange;
            transform-origin: center;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
        }

        .box button:hover {
            cursor: pointer;
            color: #161616;
            border: none;
            font-weight: bolder;
        }

        .box button:hover::before {
            transform: translate3d(-50%, -50%, 0) scale3d(20, 20, 20);
        }
    }
}