@import "../../App.scss";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


//, url(../../../public/backgrownd-services3.jpg)
.portfolio {
    position: relative;
    //background: linear-gradient(rgba(255, 255, 255, 0), rgba(27, 25, 26, 0.3));
    background: #e0e0e0;
    background-position: center center;
    background-size: 100% 100%;
    object-fit: cover;

    .progress {
        position: sticky;
        top: 0;
        text-align: end;

        h1 {
            color: orange;
            font-size: 60px;
            font-family: "Grey Qo";
            margin: 0 20px 0 0;
            letter-spacing: 10px;

            @include mobile{
                font-size: 150%;
            }
        }

        .progressBar {
            height: 5px;
            background: linear-gradient(to right, orange, rgb(128, 109, 4), orange);
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper {
            max-width: 1166px;
            height: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            @include tablet {
                flex-direction: column;
            }


            @include mobile {
                // flex-direction: column;
                gap: 0;
                // height: calc(100% - 450px);
            }

            .imageContainer {
                flex: 1;
                height: 50%;
                // border: 1px solid gold;
                border-radius: 20px;
                box-shadow: -23px 23px 46px #5a5a5a,
                    23px -23px 46px #ffffff;


                @include mobile {
                    border: none;
                    text-align: center;
                    width: 90%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;

                    @include mobile {
                        // object-fit: contain;
                        width: 100%;
                    }
                }
            }

            .textContainer {
                flex: 1;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                border-radius: 20px;
                padding: 20px;
                background: #e0e0e0;
                //background-color: rgba(0, 0, 0, 0.678);
                box-shadow: -8px 8px 16px #5a5a5a,
                    8px -8px 16px #ffffff;

                @include tablet {
                    margin-top: 30%;
                }

                @include mobile {
                    transform: none !important;
                    width: 80%;
                    // padding: 20px;
                    align-items: center;
                    text-align: center;
                    // height: 80%;
                    border-radius: 20px;
                    margin-top: 5%;
                }

                h2 {
                    font-size: 52px;
                    color: rgba(0, 0, 0, 0.678);

                    @include mobile {
                        font-size: 150%;
                        // width: 100%;
                        margin: 0;
                    }
                }

                p {
                    color: rgba(0, 0, 0, 0.678);
                    font-size: 18px;
                    text-align: justify;


                    @include mobile {
                        font-size: 80%;
                    }

                }

                button {
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0.678);
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    width: 200px;
                    color: #e0e0e0;
                    transition: all transform 0.45s ease-in-out;
                    box-shadow: -5px 5px 10px #5a5a5a,
                        5px -5px 10px #ffffff
                }

                button::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    background-color: orange;
                    transform-origin: center;
                    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
                    transition: transform 0.45s ease-in-out;
                }

                button:hover {
                    cursor: pointer;
                    color: #161616;
                    border: none;
                    font-weight: bolder;
                }

                button:hover::before {
                    transform: translate3d(-50%, -50%, 0) scale3d(20, 20, 20);
                }
            }
        }
    }
}